<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>HackNasa.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>841963092E91997A00AFDD2D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C514432E94AA0F00BE85D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>84C514B52E94AC7E00BE85D4</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
